:root {
  --color-green: #397E33;
  --color-yellow: #FAB512;
  --color-red: #E40523;
  --color-purple: #AB1470;
  --color-blue: #77BAE7;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #EAEAEA;
  --color-orange: #EB602E;
  --color-p2: #0A142F;
}
